body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fada7a;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffa500' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #e52020;
  color: #f8f2de;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 70px;
  width: auto;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
  margin-left: auto;
  margin-right: 30px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu li {
  margin: 0 10px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.menu li:hover {
  transform: translateY(-2px);
}

.menu a {
  text-decoration: none;
  color: #f8f2de;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.menu li:hover a {
  color: #fceab4;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #f8f2de;
  cursor: pointer;
}

.profile-icon {
  font-size: 24px;
  cursor: pointer;
  color: #f8f2de;
  margin-left: 20px;
}

.hero-section {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.hero-section::before {
  content: none;
}

.hero-section h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #e52020;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.hero-section a {
  text-decoration: none;
  color: #e52020;
}

.hero-section h1:hover {
  cursor: pointer;
}

.hero-image {
  width: 80%;
  height: auto;
  object-fit: contain; 
  z-index: 0;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.about-card {
  background-color: #f8f2de;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 78%;
  height: auto;
}

.about-card h2 {
  color: #e52020;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.about-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

#characters {
  padding: 15px 20px 50px;
  background-color: #f8f2de;
}

#characters h2 {
  text-align: center;
  color: #e52020;
  font-size: 2rem;
  margin-bottom: 30px;
}

.character-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Animation */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.character-card {
   background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 300px;
  height: auto;
}

.character-card:hover {
  animation: grow 0.3s ease forwards;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.character-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.character-card h3 {
  color: #e52020;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.character-card p {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.4;
}

#favorite_scene {
  padding: 15px 30px 50px;
  background-color: #f8f2de;
  margin-top: 50px;
}

#favorite_scene h2 {
  text-align: center;
  color: #e52020;
  font-size: 2rem;
  margin-bottom: 30px;
}

.scene-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.scene-description {
  flex: 1;
  min-width: 300px;
}

.scene-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scene-card h3 {
  color: #e52020;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.scene-card p {
  line-height: 1.6;
  color: #333;
}

.video-container {
  flex: 1;
  min-width: 300px;
}

.video-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#episodes {
  padding: 15px 20px 50px;
  background-color: #f8f2de;
  margin-top: 50px;
}

#episodes h2{
  text-align: center;
  color: #e52020;
  font-size: 2rem;
  margin-bottom: 30px;
}

#episodes p {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.episode-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.episode-card h3 {
  margin-top: 0;
  color: #333;
}

.episode-card p {
  margin: 10px 0;
  color: #666;
}

.episode-card p:first-of-type { 
  font-weight: bold;
  color: #444;
}

footer {
  background-color: #cc1e1e;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.designer-info {
  margin-top: 10px;
}

.social-links {
  margin-top: 15px;
}

.social-links a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #f0f0f0;
}


@media (max-width: 768px) {
  .logo img {
    max-height: 40px;
  }

  nav {
    margin-right: 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #e52020;
    width: 200px;
  }

  .menu li {
    padding: 10px;
    text-align: left;
  }

  .profile-icon {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu.active {
    display: flex;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-image {
    width: 95%;
  }

  .about-card {
    padding: 20px;
  }

  .about-card h2 {
    font-size: 1.5rem;
  }

  .about-card p {
    font-size: 0.9rem;
  }

  .character-card {
    width: 100%;
    max-width: 300px;
  }

  #favorite_scene {
    padding: 50px 20px;
    background-color: #f8f2de;
  }

  #favorite_scene h2 {
    text-align: center;
    color: #e52020;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .scene-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .scene-description {
    flex: 1;
    min-width: 300px;
  }

  .scene-description h3 {
    color: #e52020;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .scene-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }

  .video-container {
    flex: 1;
    min-width: 300px;
  }

  .video-container iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .episodes-grid {
    grid-template-columns: 1fr;
  }
}
